/* .App {
  text-align: center;
} */

*{
  box-sizing : border-box;
}

body {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQjmnWEehshrsjw1I2c1GmtYadmYIhVDVJ7w4I5yEdr6LGADWCm&usqp=CAU");
  /* background-image: url("https://s3.envato.com/files/1616804/Preview_image.jpg");  */
  background-size: cover;
  /* background-repeat: no-repeat; */
  
}

div.container{
  
  background-color: rgba(19, 179, 179, 0.75);
  margin: auto ;
  width: 80%;
  height:30%;
  padding: 10px;
  border-radius: 0px 30px;
  text-align: center;
  flex-direction: column;

  /* display: flex; */   
 
  
}
div.weather{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:  rgba(2, 10, 66, 0.74);

}
input{
  text-align : center;
  margin : 0px 10px;
  height: 50px;
  width: 200px;
  background: rgb(224, 212, 212);
  font-family: "sans-serif";
  font-size: 25px;
  border :none;
  border-radius: 5px 20px 5px 20px;
  border-bottom: 3px solid rgba(255, 77, 7, 0.705);
 
}

.radio{
  height: 25px;
  width: 25px;
}

button {
  height: 50px;
  width: 120px;
  background: rgb(102, 97, 97);
  color: blanchedalmond;
  text-align: center;
  font-size: 12px;
  border:none;
  border-radius: 5px 20px 5px 20px;
  border-bottom : 3px solid black;

}


h3{
  font-family: cursive;
  color:  rgba(2, 10, 66, 0.74);
  font-size: 25px;
 
}

.temp{
  color: rgb(230, 76, 5);  
  font-size: 50px;
  margin: 0px;
}

.low{
padding-right: 10px;
font-family: Georgia, 'Times New Roman', Times, serif;
color: black;
font-size: 20px;
}
.high, .humidity{
  padding-left:20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;
  font-size: 20px;
}

.desc{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;
  font-size: 20px;
}
.city{
  color: white;
  font-size: 20px;;
 font-family: Georgia, 'Times New Roman', Times, serif;
 padding: 0px;;
}
/* .humidity, .lowHigh{
  color: blanchedalmond;
  font-size: 15px;;
 font-family: Georgia, 'Times New Roman', Times, serif;
 
}

.timezone{
  font-size: 15px;
  color: blanchedalmond;
  font-style: italic;
  padding-bottom: 10px;
} */


/* .display{
  text-align: center;
 display: flex; 
  flex-direction: column;
  margin-bottom: 30px;
} */